<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD Submission Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="AdSubmissionForm.css">


</head>

<body>
    <header class="container sticky-top home_nav">
        <nav class="navbar navbar-expand-lg navbar-light nav_back ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="image_logo" src="logo.png" alt="">
                </a>

                <div class="d-flex justify-content-end">

                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">WALLET</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">LINKS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">PROFILE</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>

    <main>
        <section class="container section_io">

            <div class="row d-flex align-items-center ms-3">
                <div class="col-md-6">
                    <div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Embedded Link</label>
                            <input type="text" class="form-control" id="embedded_link" aria-describedby="emailHelp" placeholder="Place you embedded link here">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Redirected Link</label>
                            <input type="url" class="form-control" id="redirected_link" aria-describedby="emailHelp" placeholder="Place you redirected link here">
                        </div>
                        <button onclick="billCalculation('video' , 250 )" class="buttons_pricing">Video</button>
                        <button onclick="billCalculation('banner' , 200 )" class="buttons_pricing">Banner</button>
                        <button onclick="billCalculation('popup' , 150 )" class="buttons_pricing">New Tab</button>
                        <button onclick="billCalculation('text' , 100 )" class="buttons_pricing">Small Box</button>
                    </div>
                </div>
                
                <div class="billing-form">
                    <h4 style="text-align: center; margin-bottom: 5px;">Billing summary</h4>
                    <div class="col-md-12">
                        <div class="calculations">
                            
                            <div class="amount">
                                <div class="left">
                                    <p>Videos</p>
                                </div>
                                <div class="Center">
                                    <p id="no_of_video">0</p>
                                </div>
                                <div class="right">
                                    <p>Tk. <span id="total_amount_video">00</span> </p>
                                </div>
                            </div>
                            <div class="amount">
                                <div class="left">
                                    <p>Banners</p>
                                </div>
                                <div>
                                    <p id="no_of_banner">0</p>
                                </div>
                                <div class="right">
                                    <p>Tk. <span id="total_amount_banner">00</span> </p>
                                </div>
                            </div>
                            <div class="amount">
                                <div class="left">
                                    <p>Popup ADs</p>
                                </div>
                                <div>
                                    <p id="no_of_popup">0</p>
                                </div>
                                <div class="right">
                                    <p>Tk. <span id="total_amount_popup">00</span> </p>
                                </div>
                            </div>
                            <div class="amount">
                                <div class="left">
                                    <p>Text</p>
                                </div>
                                <div>
                                    <p id="no_of_text">0</p>
                                </div>
                                <div class="right">
                                    <p>Tk. <span id="total_amount_text">00</span> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="amount">
                                <div class="left">
                                    <h4>Total</h4>
                                </div>
                                <div class="right">
                                    <p>Tk. <span id="total_bill">00</span> </p>
                                </div>
                            </div>
                        </div>
                        <form method="POST", action="payment">
                            <input type="hidden" name = "email" value = "<%= User.userEmail %>" >
                            <input type="hidden" name = "ads_ar" value = "asdf" id = "ads_ar">
                            <input type="submit" id="payment_btn" class="btn-style" value = "Pay now">
                        </form>
                    </div>
                </div>
                
            </div>
            

        </section>

    </main>

    <footer class="footer container">
        <div class="footer-left">
            <img src="logo.png">
            <h3>Banana.ly</h3>
            <p>Lengthy links are too BORING, right?
                <br>Here, we come with a solution.
            </p>
            <h6>Just paste your link here and get the shortest one. Have a fun with us. </h6>


            <div class="social-media">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-youtube"></i></a>
                <a href=""><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h3>PACKAGES</h3>

                <ul class="box-footer">
                    <li><a href="">100 links @25 taka</a></li>
                    <li><a href="">500 links @100 taka</a></li>
                    <li><a href="">1k links @150 taka</a></li>
                    <li><a href="">2k links @250 taka</a></li>
                    <li><a href="">5k links @500 taka</a></li>
                </ul>
            </li>
            <li class="features">
                <h3>USEFUL LINKS</h3>

                <ul class="box-footer">
                    <li><a href="">Statistics</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Profile</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Packages</a></li>
                </ul>
            </li>
            <li>
                <h3>ADDRESS</h3>

                <ul class="box-footer">
                    <li><a href="">Level-4, 34, Awal Center</a></li>
                    <li><a href="">Banani, Dhaka</a></li>
                    <li><a href="">www.banana-ly.com</a></li>
                    <li><a href="">Email: www.banana-ly@gmail.com</a></li>
                    <li><a href="">Mobile: 017XX-XXX XXX</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>All rights reserved by banana.ly</p>
        </div>
    </footer>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script> -->

    <script>

        var NoOfVideo = stringToInt("no_of_video");
        var NoOfBanner = stringToInt("no_of_banner");
        var NoOfPopup = stringToInt("no_of_popup");
        var NoOfText = stringToInt("no_of_text");

        var TotalOfVideo = stringToInt("total_amount_video");
        var TotalOfBanner = stringToInt("total_amount_banner");
        var TotalOfPopup = stringToInt("total_amount_popup");
        var TotalOfText = stringToInt("total_amount_text");

        var TotalBill = stringToInt("total_bill");

        //Object Declaration
        var ads = [];
      
        //To convert string to Int data 
        function stringToInt(id){
            const stringNum = document.getElementById(id).innerText;
            const num = parseInt(stringNum);
            return num;
        }

        //To show the values in PARAGRAPH tag
        function showOutput(ID, val){
            
                document.getElementById(ID).innerText = val;
        }
        

        function billCalculation(type, unitPrice){
            var link_embedded = document.getElementById("embedded_link").value;
            var link_redirected = document.getElementById("redirected_link").value;
            var ads_ar = document.getElementById("ads_ar") ;
                
            if(type == 'video' && link_embedded !="" && link_redirected !=""){
                
                NoOfVideo++;
                TotalOfVideo = NoOfVideo*unitPrice;
                TotalBill = TotalBill + TotalOfVideo;

                showOutput("no_of_video", NoOfVideo);
                showOutput("total_amount_video", TotalOfVideo);
                showOutput("total_bill", TotalBill);

                let video = {
                "type": "video",
                "embedded": link_embedded,
                "redirected": link_redirected
                }
                document.getElementById("embedded_link").value = "";
                document.getElementById("redirected_link").value = "";
                ads.push(video);

                ads_ar.value = JSON.stringify(ads) ;
                //console.log(ads);
                
            } else if(type == 'banner' && link_embedded !="" && link_redirected !=""){
                
                NoOfBanner++;
                TotalOfBanner = NoOfBanner*unitPrice;
                TotalBill = TotalBill + TotalOfBanner;
                
                showOutput("no_of_banner", NoOfBanner);
                showOutput("total_amount_banner", TotalOfBanner);
                showOutput("total_bill", TotalBill);
                
                let banner = {
                    "type": "banner",
                "embedded": link_embedded,
                "redirected": link_redirected
            }
            document.getElementById("embedded_link").value = "";
            document.getElementById("redirected_link").value = "";
                ads.push(banner);
                //console.log(ads);
                
                ads_ar.value = JSON.stringify(ads) ;
            }else if(type == 'popup' && link_embedded !="" && link_redirected !=""){
                
                NoOfPopup++;
                TotalOfPopup = NoOfPopup*unitPrice;
                TotalBill = TotalBill + TotalOfPopup;

                showOutput("no_of_popup", NoOfPopup);
                showOutput("total_amount_popup", TotalOfPopup);
                showOutput("total_bill", TotalBill);
                
                let popup = {
                    "type": "newTab",
                    "embedded": link_embedded,
                    "redirected": link_redirected
                }
                document.getElementById("embedded_link").value = "";
                document.getElementById("redirected_link").value = "";
                ads.push(popup);
                //console.log(ads);
                
                ads_ar.value = JSON.stringify(ads) ;
            }else if(type == 'text' && link_embedded !="" && link_redirected !=""){
                
                NoOfText++;
                TotalOfText = NoOfText*unitPrice;
                TotalBill = TotalBill + TotalOfText;
                
                showOutput("no_of_text", NoOfText);
                showOutput("total_amount_text", TotalOfText);
                showOutput("total_bill", TotalBill);

                let text = {
                    "type": "smallBox",
                    "embedded": link_embedded,
                    "redirected": link_redirected
                }
                document.getElementById("embedded_link").value = "";
                document.getElementById("redirected_link").value = "";
                ads.push(text);
                //console.log(ads);
                
                ads_ar.value = JSON.stringify(ads) ;
            }else if(link_embedded =="" || link_redirected ==""){
                var message = "Place both embedded and redirected links"
                            
                var confirmBox = confirm(message);
                if(confirmBox == true){
                
                }else{
                
                }
            }
            console.log(ads);
            
        }

    </script>
</body>

</html>