<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form action="SignUpLogIn" method="POST" style="float: right; padding-right: 5%;">
        <button class="btn btn-success btn-lg" type="submit">Login</button>
    </form>

    <div class="container" style="padding-top: 5%; padding-left: 10%; padding-right: 10%;">
        <form class="my-4 form-inline" action="/" method="POST">
            <input type="url" class="form-control col mr-2" name="fullUrl" id="fullUrl" placeholder="https://example.com" required>
            <button class="btn btn-success" type="submit" style="width: 100px;">Shrink</button>
        </form>

        <div class="my-4 form-inline">
            <input type="text" class="form-control col mr-2" name="shortUrlBox" id="shortUrlBox"
                readonly placeholder="short url" value="localhost:5000/<%=shortUrls.short%>">
            <button class="btn btn-success" onclick="copyToClipboard()" style="width: 100px;">Copy</button>
            <script>
                function copyToClipboard() {
                    var copyText = document.getElementById("shortUrlBox");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999);
                    document.execCommand("copy");
                    alert("Copied to Clipboard: " + copyText.value);
                }
            </script>
        </div>
    </div>
</body>
</html>