body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
}

header{
    padding: 3%;
}

img{
    padding: 5%;
    height: 70%;
    width: 70%;
}

#members{
    padding-bottom: 5%;
}
#txt-img-row1{
    border: 1px solid black; 
    background-color: cornsilk;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
#txt-img-row2{
    border: 1px solid black; 
    background-color: azure;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}