@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body {
  background-image: url('bg_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*  Card Background  Starts*/
#CardBackground {
  background-color: rgb(248, 220, 97);
  background-image: linear-gradient(147deg, #f89148 0%,rgb(248, 220, 97));
  border-radius: 2px;
  height: 1150px;
  box-shadow: 0px -1px 10px 5px rgba(107, 96, 96, 0.75);
}
/*  Card Background  Ends*/


/*  Header starts */
.header{
    display: flex;
    background: url("headerIMG.png") no-repeat center;
    height: 60vh;
    color: #fff;
    min-height: 200px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
/*  Header Ends */


/* Sign in button  Starts */
.astext {
  width:7.0rem;
  height: 3.0rem;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  outline: none;
}

.social-button {

  display: flex;
  justify-content: center;
  width:8.0rem;
  height:3.8rem;
  padding: 0.375rem 0.375rem 0;
  margin-left: 780px;
  background:  rgb(253, 219, 145);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  perspective: 30rem;
}
.cover {
  transform-origin: center bottom;
  transform-style: preserve-3d;
  text-align: center;
  z-index: 99;
}
.cover, .cover > * {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.cover svg{
  width: 40px;
  height:40px;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
}
.inner, .outer {
  border-radius: 0.25rem;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.1) 100%);
}
.outer {
  transform:translateZ(0.25rem);
}
.edge {
  top:0.25rem;
  height:0.25rem;
  transform:rotateX(90deg);
  transform-origin: center top;
}
.social-button:hover .cover {
  transform:rotateX(-120deg);
}
.social-button, .social-button div {
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
.shadow {
  position: absolute;
  top:100%;
  left:0;
  width:100%;
  height:3.2rem;
  border-radius: 0.5rem;
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, transparent 100%);
  transform:rotateX(90deg);
  transform-origin: center top;
}
.social-button:hover .shadow {
  transform: rotateX(45deg) scale(0.95);
  opacity: 1;
}

.twitter .inner {
  background-color: #fea367;
}
.twitter .outer {
  background-color:  #fc8148;
  background-image: url("signinbutton.png");
}
.twitter .edge {
  background-color: #f36320;
}
/* Sign in button  Ends */



/* Input field starts */
.box{
  width: 550px;
  height: 40px;
  position: flex;
  top: 50%;
  margin-top: 130px;
  margin-left: 460px;
  left: 50%;
  transform: translate(-50%,-50%);
  background:  rgba(248, 188, 97, 0);
}
input{
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 10px;
  border: white;
  border: 2px solid #ffffff;
  color: rgb(39, 37, 37);
  padding: 3px;
}
span{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 0.5s;
  font-size: 17px;
  color: #888;
  pointer-events: none;
}
input:focus + span, input:valid + span{
  top:0;
  left: 10px;
  font-size: 14px;
  color:rgb(255, 94, 0);
  border: white;
  padding: 3px;
  background: rgb(255, 255, 255);
}

/* Input field Ends */





/* Footer starts here */
*, *:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  display: grid;
  font-size: 20px;
}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
   box-shadow: 2px 12px 8px 10px rgba(128, 111, 111, 0.75);
  flex-flow: row wrap;
  padding: 50px;
  color: yellow;
  background-color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
  font-size: 15px;
}
.footer-left img{
  width:50%;
}
h2{
  font-weight: 600;
  font-size: 20px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height:1.5em;
}
.footer a{
  text-decoration: none;
  font-size: 15px;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box-footer a{
  color: white;
}
.box-footer a:hover{
  color: yellow;
}
.footer-bottom{
  text-align: center;
  color: white;
  padding-top: 10px;
}
.footer-left p{
  padding-right: 20%;
  color: white;
}
.social-media a{
  background: lightgray;
  width: 40px;
  height: 40px;
  display: inline-block;
  
}
.social-media a i{
  color: black;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .footer-right > *{
      flex: 1;
  }
  .footer-left{
      flex: 1 0px;
  }
  .footer-right{
      flex: 2 0px;
  }
}

@media (max-width: 600px){
  .footer{
      padding: 15px;
  }
  main{
      font-size: 55px;
  }
}

/* Footer Ends here */





.btn {
  width: 100px;
  background-color: #FF9742;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #f7ec4f;
}